@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to left, #3e4144, #45484a, #474b4e, #535b61, #65727c);
	width: 100%;
	box-sizing: border-box;
}

p {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: #f5f3f4;
	font-size: 1rem;
}

h1 {
	padding: 15px;
	width: 100%;
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-size: 3rem;
	text-align: center;
	text-shadow: 5px 5px 5px thistle;
}

h2 {
	padding: 15px;
	width: 100%;
	font-family: 'Bebas Neue', cursive;
	color: #f5f3f4;
	font-size: 3rem;
	text-align: center;
	text-shadow: 6px 6px 6px #f5f3f4;
}

/*HEADER*/
header {
	background-color: black;
	width: 100%;
	height: 1%;
}

#logo {
	font-size: 6rem;
	font-family: 'Bebas Neue', cursive;
	text-shadow: 10px 10px 10px thistle;
	color: white;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
	animation-name: logo;
}

@keyframes logo {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

nav {
	color: #f5f3f4;
	font-family: 'Poppins', sans-serif;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: initial;
	animation-name: menu;
}

@keyframes menu {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

a {
	transition: all 0s;
	color: #f5f3f4;
	font-size: 1.5rem;
	text-decoration: none;
}

a:hover {
	transform: scale(1.2);
	text-shadow: 5px 5px 5px thistle;
	color: #f5f3f4;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	justify-items: flex-end;
}

/*VIDEOS*/
#videochico {
	width: 35rem;
	height: 35rem;
}

h5 {
	background-color: #544179;
	color: white;
	text-align: center;
	font-size: 2rem;
}

/*MUSICA*/
.musica {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*NOVEDADES*/
.boots {
	overflow: hidden;
}

#bot {
	border: 5px solid black;
	height: 25rem;
	width: 25rem;
	transition: all 0, 9;
}

#bot:hover {
	transform: scale(1.2);
	/*filter: contrast(1);*/
	box-shadow: 5px 5px 5px 5px #544179;
}

.boots1 {
	font-size: 2rem;
}

/*CAMBIOS*/
ul {
	padding: 3rem;
}

.cam {
	font-size: 3rem;
	font-family: 'Bebas Neue', cursive;
	text-decoration: none;
}

.cambios {
	font-size: 1.5em;
	font-family: 'Poppins', sans-serif;
	color: black;
	text-align: left;
	list-style: circle;
}

.mixi {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin-bottom: 60px;
}

@mixin sizes($width, $height, $bcolor) {
	height: $height;
	width: $width;
	background-color: $bcolor;
}

.box {
	@include sizes(300px, 300px, black);
	color: #f5f3f4;
	margin-bottom: auto;
}

.box {
	font-size: 15px;
	text-align: center;
	border: 2px solid white;
}
.mixis1{
	font-size: 1rem;
	font-family:"Poppins", sans-serif ;
	text-transform: uppercase;
	margin-top: 10px;
}
/*ENCARGOS*/
#collapse {
	background-color: black;
	color: #f5f3f4;
	width: 100%;
}

#collap {
	text-transform: none;
	text-align: center;
}

.table {
	background-color: #544179;
	border: 5px solid white;
	font-family: sans-serif;
	font-size: 1.5rem;
	color: white;
	text-align: center;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}

table td {
	border: 1px solid white;
	border-collapse: collapse;
}

th {
	border: 1px solid white;
	border-collapse: collapse;
}

.espe {
	text-align: center;
	text-transform: uppercase;
	color: #f5f3f4;
	text-shadow: 10px 10px 10px thistle;
	font-size: 2rem;
}

.formulario {
	text-align: center;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	color: black;
}

input {
	height: 25px;
	width: 50%;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	border-color: #544179;
}

label {
	display: block;
	float: center;
}

select {
	margin-bottom: 15px;
}

textarea {
	height: 25px;
	width: 50%;
}

button {
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: uppercase;
	background-color: #544179;
	border-color: #544179;
	color: white;
	border-style: solid;
	border-radius: 10px;
	cursor: pointer;
}

.encargos {
	display: block;
	justify-items: center;
}

/*PRODUCTOS*/
#producs {
	border: 2px solid #f5f3f4;
	height: 20rem;
}

#productos4 {
	margin: 15px;
	padding: auto;
}

.productos {
	font-size: 1.5rem;
}

.boots12 {
	font-size: 1rem;
	text-align: left;
}

/*FOOTER*/
footer {
	background-color: black;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	height: auto;
	width: auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.contenedorf {
	display: block;
	padding-right: 5rem;
	padding-bottom: 10rem;
	text-align: right;
}

.ubicacion {
	height: 20rem;
	width: 25rem;
	align-items: flex-end;
	justify-content: left;
	padding-bottom: 15px;
}

.ubicacion1 {
	font-size: 3rem;
	color: white;
	text-align: left;
}

.redes {
	height: 3rem;
	width: auto;
}

.redes:hover {
	transition: all 0, 9;
	transform: scale(1.6);
	color: white;
}

.CF {
	display: flex;
	align-items: flex-end;
	justify-content: right;
	padding-bottom: 5rem;
}

/*CONTACTANOS*/
#ultimoF {
	text-align: center;
	animation-duration: 5s;
}

#contac {
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
	text-align: center;
}

.ult {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
}

//comparte caracteristicas con el formulario que se encuentra en la seccion de Encargos//